In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.mode.chained_assignment = None
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split,LeaveOneOut,KFold,RepeatedStratifiedKFold
%matplotlib inline
import matplotlib
#matplotlib.use('agg')
matplotlib.style.use('ggplot')

from matplotlib import pyplot as plt
from collections import Counter
from functools import reduce
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
import nltk
from nltk.tag.stanford import StanfordNERTagger
st = StanfordNERTagger('unigrams/stanford-ner-2018-02-27/classifiers/english.all.3class.distsim.crf.ser.gz','unigrams/stanford-ner-2018-02-27/stanford-ner-3.9.1.jar',encoding='utf-8')

In [2]:
br_to_us=pd.read_excel("Book.xlsx")
br_to_us_dict=dict(zip(br_to_us.UK.tolist(),br_to_us.US.tolist()))
decades=[2000, 1990, 1980, 1970, 1960, 1950, 1940, 1930, 1920, 1900, 1910,
            1890, 1880, 1870, 1850, 1860, 1840, 1830, 1820, 1810, 1800]
old_decades=decades[1:]
l1=dict(zip([1,-1],['Positive','Negative']))
replacements={'modifier':br_to_us_dict,'head':br_to_us_dict,'Class':l1}

In [3]:
def tupleconverter(tup):
    dicter={}
    for word,decade in tup:
        #print(word,decade)
        if word in dicter:
            dicter[word].append(decade)
        else:
            dicter[word]=[]
            dicter[word].append(decade)
            
    #for word,decades in dicter.items():
        #print(word)
        #print(decades)
        #dicter[word]=Counter(decades)
        #print(dicter[word])
    return(dicter)


def decremover(dc):

    new_constituents=[]
    for constituent,decades in dc.items():
        if len(decades)==1:
            if 2000 in decades:
                new_constituents.append(constituent)
    return(new_constituents)




def magnituder(x):
    return(np.sqrt(np.sum(np.square(x))))

def new_compound_finder(df,decade=2000):
    new_compounds=[]
    for key,val in compound_decades.items():
        if len(val)==1 and decade in val:
            new_compounds.append(key)
    return new_compounds

def lemma_maker(x):
    #print(x,y)
    return lemmatizer.lemmatize(x)

def ner_checker(stat):
    temp_list=st.tag(stat)
    if temp_list[0][1]=="PERSON" and temp_list[1][1]=="PERSON":
        return stat,True
    else:
        return stat,False

In [5]:
words=pd.read_csv("words.csv",sep="\t",header=None,usecols=[1,2,3,4])
words.columns=["word","context","decade","count"]
#heads.info()
total_words_count=words['count'].sum()
words=words.groupby(['word','context','decade'])['count'].sum().to_frame()
words.reset_index(inplace=True)
#heads.info()
#words=heads.groupby(["word","decade"]).filter(lambda x: x['count'].sum() >= 15)
#heads.info()
words_list=list(set(zip(words["word"],words["decade"])))
words_list=tupleconverter(words_list)
new_words=decremover(words_list)
print("There are "+str(len(new_words))+" new heads in the deacade 2000's")
words=words.loc[~words['word'].isin(new_words)]
#head_list=list(set(heads.index.get_level_values(0)))
words.set_index(['word','decade'],inplace=True)
words

There are 49 new heads in the deacade 2000's

                    context  count
word     decade
a_n      1800           a_n      5
         1810           a_n      2
         1820           a_n      8
         1830           a_n    169
         1840           a_n     46
         1850           a_n     78
         1860           a_n     61
         1870           a_n     53
         1880           a_n    415
         1890           a_n    422
         1900           a_n    670
         1910           a_n    719
         1920           a_n   1948
         1930           a_n   1758
         1940           a_n   2542
         1950           a_n   5478
         1960           a_n  12998
         1970           a_n  16794
         1980           a_n  21243
         1990           a_n  23105
         2000           a_n  35545
         1800          aa_n      3
         1860          aa_n      3
         1870          aa_n     14
         1900          aa_n      6
         1910          aa_n      8
         1920          aa_n     36
         1930          aa_n     11
         1940          aa_n     22
         1950          aa_n    103
...                     ...    ...
zurich_n 1910         put_v      4
         1920         put_v      1
         1950         put_v      2
         1960         put_v      3
         2000         put_v      1
         1980    research_n     36
         1990    research_n    186
         2000    research_n     20
         1820          so_r      5
         1830          so_r      9
         1840          so_r      3
         1850          so_r      8
         1860          so_r      4
         1870          so_r      2
         1880          so_r      3
         1890          so_r      7
         1900          so_r      5
         1920          so_r      1
         2000          so_r      7
         1840     strauss_n     11
         1850     strauss_n      2
         1860     strauss_n      7
         1870     strauss_n      5
         1890     strauss_n      2
         1900     strauss_n      4
         1910     strauss_n      4
         1920     strauss_n      1
         1950     strauss_n      2
         1960     strauss_n      3
         2000     strauss_n      1

[16470733 rows x 2 columns]